:root {
    --title-text-color: #2E2F42;
    --body-text-color: #434455;
    --active-color: #4D5AE5;
    --acsent-color: #404BBF;
    --white-text-color: #ffffff;
    --cornflawer-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --light-slate: #8E8F99;
    --success-color: #31D0AA;
    --dairy-color: #FCFCFC;
    --secondary-font: 'Raleway', sans-serif;
    --basic-margin-text: 8px;
    --basic-gap: 24px;
    --transition-main: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Roboto', sans-serif;
    background-color: var(--white-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.conteiner {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

   /* Header */

.header-link {
    color: var(--title-text-color);
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition: color var(--transition-main) cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background: var(--acsent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header { 
    background-color: var(--white-text-color);
    border-bottom: 1px solid var(--cornflawer-color);
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}
 
.header .conteiner {
    display: flex; 
}  

.header-menu {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 40px;
}

.header-menu .logo { 
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
    margin-right: 76px;
}

.logo-second { 
    color: var(--title-text-color);
}

.header-item {}

.header-link:hover,
.header-link:focus {
    color: var(--acsent-color);
}

.header-link.current {
    color: var(--acsent-color);
}

.address-list {
    margin-left: auto;
}

.header-address {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.address-link {
    margin-left: auto;
} 

.address {
    font-style: normal;
    color: var(--body-text-color);
    margin-left: auto;
    transition-property: color;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
    color: var(--acsent-color);
}

   /* Hero section */

.hero {
    background-color: var(--title-text-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bghero.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 188px 0;
}

.hero-conteiner {}

.hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-text-color);
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

/* Batton */

.btn {
    min-width: 169px;
    min-height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background: var(--active-color);
    color: var(--white-text-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding: 16px 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition-property: background;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hero .btn:hover,
.hero .btn:focus {
    background: var(--acsent-color);
}

/* Section 1 */

.features {
    padding: 120px 0;
}

.features .conteiner {
    margin-left: auto;
    margin-right: auto;
}

.feature-icon {
    height: 112px;
    background-color: var(--cloud-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: var(--basic-margin-text);
}

.feature-icom-list { 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature {
    display: flex;
    gap: var(--basic-gap);
}

.feature > .feature-list {
    flex-basis: calc(100% / 4);
}

.feature .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-bottom: var(--basic-margin-text);
}

.feature .text {
    color: var(--body-text-color); 
}

/* Section 2 */

.functions {
    padding-bottom: 120px;
}

.functions-list {
    display: flex;
    gap: var(--basic-gap);
    max-width: 100%;
    height: auto;
}

.functions .title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

/* Section 3 */

.team {
    background-color: var(--cloud-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team .conteiner {}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team-list {
    display: flex;
    gap: var(--basic-gap);
    text-align: center;
}

.team-item {
    background: var(--white-text-color);
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-sizes {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: var(--basic-gap);
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--active-color);
    transition-property: background-color;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--acsent-color);
}

.social-list-icon {
    fill: var(--white-text-color);
}

.team-list .subtitle {
    margin-bottom: var(--basic-margin-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.team-list .text {
    color: var(--body-text-color);
    margin-bottom: var(--basic-margin-text);    
}
  /* Section 4 */

.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.conteiner {}

.title-customers {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--basic-gap);
}

.customers-logo {
    width: 168px;
    height: 88px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    color: var(--light-slate);
    transition-property: border-color, color;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
    border-color: var(--acsent-color);
    color: var(--acsent-color)
}

.logo-link {
    fill: currentColor;
}

/* Footer */

.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.conteiner-footer-logo {}

.footer-container {
    display: flex;
}

.logo-footer {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--active-color);
    margin-bottom: 16px;
}

.logo-footer-second {
    color: var(--cloud-color); 
}
    
.footer-text {
    color: var(--cornflawer-color);
    max-width: 264px;
}

/* Footer social */

.social-media-footer {
    margin-left: 120px;
}

.social-title {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-text-color);
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-footer-item {}

.social-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--success-color);
}

.social-footer-icon {
    position: relative;
    fill: var(--white-text-color);
}
 /* Footer form */
.footer-form {
    display: flex;
    margin-left: 80px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-text-color);
    letter-spacing: 0.02em;
    margin-left: 80px;
    margin-bottom: 16px;
}

.footer-form-field {
    
    margin-left: 80px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    padding: 8px 212px 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-text-color);
}

.footer-form-input::placeholder {
    font-weight: 400px;
    font-size: 12px;
    line-height: 2px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
    border-style: none;
}

.subscribe-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
   margin-left: 24px;
    width: 165px;
    height: 40px;
    padding:8px 24px;
    gap: 16px;
    color: var(--white-text-color);
    background-color: var(--active-color);
    transition: background cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-submit:hover, 
.subscribe-submit:focus {
 background: var(--acsent-color);

}
        

.subscride-icon {
    display: flex;
    align-items: center;
}


           /* Portfolio */
 /* Button */
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.conteiner-filters {}

.filters-list {
    display: flex;
    justify-content: center;
    gap: var(--basic-gap);
    margin-bottom: 72px;
}
.filters-item-btn {}

.text-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--acsent-color); 
    background: var(--cloud-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--cornflawer-color);
    border-radius: 4px;
    transition-property: background, color, border-color, box-shadow;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-btn:hover,
.text-btn:focus {
    background: var(--acsent-color);
    color: var(--white-text-color);
    border-color: var(--acsent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 
/* Foto */
.portfolio {
    background: var(--white-text-color);
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-card {
    background: var(--white-text-color);
    width: calc((100% - 48px) / 3);
}

.portfolio-link {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-foto {
    display: block;
    max-width: 100%;
    height: auto;    
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-text-overlay {
    color: var(--cloud-color);
    background: var(--active-color);
    padding: 40px 32px 164px;
    position: absolute;
    line-height: 1.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform, opacity;
    transition-duration: var(--transition-main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover 
.portfolio-text-overlay {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-link:focus 
.portfolio-text-overlay {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-text {
    padding: 32px 16px;
    border: 1px solid var(--cornflawer-color);
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    padding-left: 16px;
    margin-bottom: var(--basic-margin-text);
}

.card-text .text {
    color: var(--body-text-color);
}
/* Modal */
.backdrop {
    background-color:rgba(46, 47, 66, 0.4); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: opacity var(--transition-main) cubic-bezier(0.4, 0, 0.2, 1), visibility var(--transition-main) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    height: 584px;
    
    padding: 72px 24px 24px;
    background: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-main) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    border-radius: 50%;
    color: var(--white-text-color);
    background: var(--cornflawer-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background: var(--active-color);
}


.icon-close {
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close,
.modal-closee:focus .icon-close {
    fill: var(--white-text-color);
}

.icon-close:focus {
    fill: currentColor
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
}

.form-label {
    display: block;
    margin-bottom: 8px;
}

.form-input::placeholder {
    text-transform: uppercase;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.3;
}

.modal-form-input-desc {
    display: block;
    margin-bottom: 4px;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0,04em;
}

.modal-input-wrapper {
    display: block;
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #000;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: none;
    border-color: var(--active-color);
}

.form-input:focus + .form-input-icon {
    fill: var(--active-color);
    
}

.form-input-icon {
    position: absolute;
    display: block;
    top: 11px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--active-color);
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-form-check-desc::before{
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
    background: var(--acsent-color);
    border-color: 1.25px solid var(--acsent-color);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/click-svg.svg);
}

.modal-form-check:checked+.modal-form-check-desc::before {
    outline-color: var(--acsent-color);
}

.form-btn:hover,
.form-btn:focus {
    background: var(--acsent-color);

}

.modal-police-box {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--active-color);
}